@import '../../styles/variables.scss';

.transaction-list {
  background-color: $color-bg;
  border: $border-width solid $color-border;
  border-radius: $border-radius-lg;
  overflow: hidden;
}

.transaction-list__items {
  display: flex;
  flex-direction: column;
}

.transaction-list__error,
.transaction-list__empty {
  padding: $space-xl;

  @include on-mobile {
    padding: $touch-padding-lg;
  }

  text-align: center;
}

.transaction-list__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-lg;
  padding: $space-lg;
  border-top: $border-width solid $color-border;
  background-color: $color-bg-secondary;
  flex-wrap: wrap;

  @include on-mobile {
    gap: $space-sm;
    padding: $touch-padding-lg;
  }

  button {
    min-height: $touch-target-min;
  }
}

.transaction-list__pagination-info {
  font-size: $font-size-sm;
  color: $color-text-secondary;
  font-weight: $font-weight-medium;
  min-width: 120px;
  text-align: center;

  @include on-mobile {
    width: 100%;
    order: -1;
  }
}
