/**
 * Async error boundary component styles.
 */
@import '../../styles/variables.scss';

.async-error-boundary {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
